/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.carousel-item{
  padding: 3%;
}

body {
  background-color: white;
}

#map{
  height: 100%;
}

.middle-indicator{
   position:absolute;
   top:50%;
   }
  .middle-indicator-text{
   font-size: 4.2rem;
  }
  a.middle-indicator-text{
    color: #818181 !important;
  }
.content-indicator{
    width: 64px;
    height: 64px;
    background: none;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px; 
  }
    .indicators{
    visibility: hidden;
  }

.circ {
  border-radius: 0%;
  max-width: 100%;
  max-height: 100%;
}

@media only screen and (max-width: 993px) and (min-width: 350px) {
  .circ {
    border-radius: 0%;
    min-width: 100%;
    min-height: 100%;
  }
}

@media only screen and (min-width: 993px) {
  .circ {
    border-radius: 50%;
    float: right;
    height: 400px;
    width: 400px;
    position: absolute;
    top: 13.8%;
    left: 60%;
    z-index: 100;
  }
}

#carousel {
  height: 50em;
}

@media only screen and (min-width: 601px) {
  #carousel {
   height: 1000px;
  }
}

@media only screen and (min-width: 993px) {
  #carousel {
   height: 800px;
  }
}

.bot-mar {
  margin-bottom: -8%;
}

@media only screen and (min-width: 601px) {
  .bot-mar {
   margin-bottom: -8%;
  }
}

@media only screen and (min-width: 993px) {
  .bot-mar {
    margin-bottom: 0;
  }
}

.mob-hide {
  display:none;
}

@media only screen and (min-width: 601px) {
  .mob-hide {
   display: flex;
  }
}

@media only screen and (min-width: 993px) {
  .mob-hide {
    display: flex;
  }
}

.flex-caption {
  width: 100%;
      
      left: 0;
      bottom: 0;
      background: rgba(0,0,0,0);
      color: #fff;
      text-align: left;
      font-size: 1.1em;
      line-height: 25px;
}

.flex-caption2 {
  width: 100%;
      
      left: 0;
      bottom: 0;
      padding-left: 4%; 
      background: rgba(0,0,0,0);
      color: #fff;
      text-align: left;
      font-size: 1.1em;
      line-height: 25px;
}

@media only screen and (min-width: 601px) {
  #map {
    height: 100%;
    padding-top: 7%;
    padding-bottom: 7%;
  }
}

@media only screen and (min-width: 993px) {
  #map {
    height: 100%;
  }
}



#map {
		padding-top: 7%;
        
      }
      
.reachus{
	position: relative;
	background-color: white;
	margin: 1.8%;
	padding: 2% 0 2% 0;
	
}
.box-shodow{
	 box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
}

.program-subtitle {
	font-size: 1.2em;
}

.home-b:hover {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s; 
    /* When the animation is finished, start again */
    animation-iteration-count: infinite; 
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.baa {
  margin-right: 0%;
}

@media only screen and (min-width: 601px) {
  .baa {
   margin-right: 20%;
  }
}

@media only screen and (min-width: 993px) {
  .baa {
    margin-right: 20%;
  }
} 

.baaa {
  padding: 8% 0 3% 0;
  font-size: 1.1em;
}

@media only screen and (min-width: 601px) {
  .baaa {
   padding: 7% 0 3% 0;
   font-size: 1.2em;
  }
}

@media only screen and (min-width: 993px) {
  .baaa {
    padding: 3% 0 1.8% 0;
    font-size: 1.2em;
  }
} 

.home-b {
  float: right;
}

@media only screen and (min-width: 601px) {
  .home-b {
   float: right;
  }
}

@media only screen and (min-width: 993px) {
  .home-b {
    float: none;
  }
}

#h-padding {
  padding: 4% 8% 0 8%;
}

@media only screen and (min-width: 601px) {
  #h-padding {
    padding: 4% 9% 0 9%;
  }
}

@media only screen and (min-width: 993px) {
  #h-padding {
    padding: 0 4% 0 8%;
  }
} 

[data-collapse] {
  display:none
}