/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.carousel-item{
  padding: 3%;
}

body {
  background-color: white;
}

#map{
  height: 100%;
}

.middle-indicator{
   position:absolute;
   top:50%;
   }
  .middle-indicator-text{
   font-size: 4.2rem;
  }
  a.middle-indicator-text{
    color:black !important;
  }
.content-indicator{
    width: 64px;
    height: 64px;
    background: none;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px; 
  }
    .indicators{
    visibility: hidden;
  }

.circ {
  border-radius: 0%;
  max-width: 100%;
  max-height: 100%;
}

@media only screen and (min-width: 601px) {
  .circ {
    border-radius: 0%;

  }
}

@media only screen and (min-width: 993px) {
  .circ {
    border-radius: 50%;
    height: 400px;
    width: 400px;
    position: absolute;
    top: 15%;
    left: 60%;
    z-index: 100;
  }
}

#carousel {
  height: 600px;
}

@media only screen and (min-width: 601px) {
  #carousel {
   height: 600px;
  }
}

@media only screen and (min-width: 993px) {
  #carousel {
   height: 800px;
  }
}

.bot-mar {
  margin-bottom: -8%;
}

@media only screen and (min-width: 601px) {
  .bot-mar {
   margin-bottom: -8%;
  }
}

@media only screen and (min-width: 993px) {
  .bot-mar {
    margin-bottom: 0;
  }
}



@media only screen and (min-width: 601px) {
  #map {
    height: 100%;
    padding-top: 7%;
    padding-bottom: 7%;
  }
}

@media only screen and (min-width: 993px) {
  #map {
    height: 100%;
  }
}

#map {
		padding-top: 7%;
        
      }
      
.reachus{
	position: relative;
	background-color: white;
	margin: 1.8%;
	padding: 2% 0 2% 0;
	
}
.box-shodow{
	 box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
}

.program-subtitle {
	font-size: 1.2em;
}
 

[data-collapse] {
  display:none
}